        /*=========웹폰트 선언=========*/
        @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
        /*===========================*/
        
        /*디자인 시작시 기본 선언*/
        *{  /* 기본선언: 마딩, 패딩 0, 요소크기에 padding, border값을 포함 x*/
            padding:0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body, html {
            width: 100%;
            min-width: 320px;
            font-family:'Noto Sans KR', sans-serif; /*웹폰트 사용*/
        }
        
        img {
            max-width: 100%; /*사이즈가 변해도 넓이를 유지 */
            height: auto; /*사이즈가 변해도 높이를 유지 */
            /*vertical-align: top;*/
        }
        input, textarea, button, select { /*고유하게 적용되어있는 form관련 요소들을 제거해서 여러브라우저에서 동일한디자인을 얻게함*/
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            border:none
        }
        ul, ol, dl, li {
                list-style:none; /*순서 요소들이 리스트스타일을 업앤다 */
        }        
        .btn {
            border-radius : 0px;
        }
    

	/*========회원가입 폼 디자인=========
	==============================*/
        /*제목박스(계속사용) */
		.titlebox {
            width: 250px;
            text-align: center;
            height: 40px;
            line-height: 40px;
            margin: 70px auto;
            border-top: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;
        }    
        .join-form{
            margin: 0 auto; /*가운대 정렬방법 하지만 적용되지 않는다. col클래스들이 float:left를 들고 있기 때문*/
            float: none; 
        }

        .join-form form{
            border-radius: 8px; 
            padding: 15px; 

            box-shadow:  0px 8px 16px rgba(0, 0, 0, 0.15)
        }
        
        .input-group-addon {
            padding: 0;
            border: none; /*윤곽 모두 0*/
            border-radius: 0;
        }
        /*폼컨트롤, 인풋그룹 내부에 모든 버튼 라디우스 0 */
        .form-control, .form-group .btn {
            border-radius: 0;
        }
        /*포커스시 윤곽 색 변경*/
        .form-control:focus {
            border-color: #555;
        }
/*=========로그인 디자인==========*/ 
        .login-form {
            margin: 0 auto;
            border-radius: 8px; /*윤곽 8*/
            padding: 70px 50px; /*위아래, 좌우*/

            box-shadow:  0px 8px 16px rgba(0, 0, 0, 0.15);
            margin-bottom: 174px;
        }
        .login-form-inner {
            padding: 47px 30px;
        }
        @media(min-width: 992px) and (max-width: 1199px) {
            .login-form-inner {/* md사이즈에서패딩 */
                padding: 14px 30px;
            }
        }
        @media(max-width: 768px) {
            .login-form-inner {/* 모바일사이즈에서패딩 */
                padding: 14px 0px;
            }
        }

        .login-form img { width: 100%;}



 /*========회원정보 디자인=========*/    

        .m-control .m-title {
            min-width: 100px;
            vertical-align: middle; 
        }
        
        .m-control .form-control {
            width: 200px;
            display: inline; 
        }

        .m-control .input-sm {
            height: auto;
            line-height: normal;
        }
        /*sel의 크기만 지정*/
        .m-control  .sel {
            width: 80px;
        }
        .m-control .add {
            width: 100%;
        }
        .titlefoot {
            text-align: center;
            margin: 30px auto; 
            width: 50%; 
        }



 